body {
	font-family: arial, verdana, sans-serif;
	font-size: 12pt;
	background-color: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
}
input {
	font-size: 100%;
	vertical-align: middle;
}
input[type="text"] {
	width: 8em;
	max-width: 75%;
	padding: 0.4em;
}
img {
	max-width: 100%;
	border: 0;
	vertical-align: middle;
}
video {
	display: block;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	background-color: #000000;
	visibility: hidden;
}
#container {
	clear: both;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FFFFFF;
}
#logo_container {
	display: block;
	padding: 0.5em;
	text-align: center;
}
#session_container {
	display: none;
	padding: 0.5em;
	text-align: center;
}
#call_container {
	display: block;
	padding: 0.5em;
	text-align: center;
}
#video_container {
	flex: 1;
	position: relative;
	background-color: #000000;
}
#control_container {
	display: none;
}
#control_container table {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#control_container img {
	width: 5em;
	height: 5em;
	max-width: 100%;
	cursor: pointer;
}
#control_container td {
	width: 5em;
	height: 5em;
	max-width: 30%;
	text-align: center;
}
#self_view {
	position: absolute;
	width: 240px;
	height: 240px;
	max-width: 25%;
	max-height: 25%;
	top: 0;
	right: 0;
	object-fit: cover;
}
#remote_view {
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}
#logo {
	margin-bottom: 1em;
}
#message {
	font-weight: bold;
	font-size: 110%;
}
#status {
	font-weight: bold;
	font-size: 100%;
	color: #4A4A4A;
}
#footer {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-size: 10pt;
	text-align: center;
	color: #606060;
}
#footer a {
	clear: both;
	color: #606060;
}

.button {
	border: 1px solid #CCCCCC;
	box-shadow: #FEFFFF 0px 1px 1px;
	border-radius: 0.25em;
	font-size: 100%;
	margin: 1em;
	padding: 0.5em 0.75em 0.5em 0.75em;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 1px 0 rgba(255,255,255,1);
	font-weight: bold;
	color: #4A4A4A;
	background-color: #E6E6E6;
}
.button:hover:enabled {
	cursor: pointer;
}
.button:disabled {
	color: #8a8a8a;
}
.button:hover, .button:disabled {
	border: 1px solid #ADADAD;
	background-color: #cdcdcd;
}

